<div class="container px-5">
    <h1 class="mt-3 mb-4 text-center">Personajes<h3>(Componente Padre)</h3></h1>

    <div class="row">
        <div class="col-lg-6">
            <!--El hijo tiene un eventEmitter que envia un objeto personaje al padre mediante el (onNewCharacter) -->
            <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)"></dbz-add-character>
        </div>

        <div class="col-lg-6">
            <!-- El padre 'character' le pasa los datos al hijo 'characterList' -->
            <dbz-list [characterList]="dbzService.characters"
                    (onDelete)="dbzService.deleteCharacterFromArray($event)"></dbz-list>
        </div>

    </div>

</div>


