/* CONTENEDOR SIDEBAR */
mat-sidenav-container {
    height: 100vh
}

mat-sidenav-content{
    background-color: #e7f2fe;
}

.sidebar_material{
    background: #111827;
    width: 256px;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}